@media (min-width: 90em) {
  html {
    font-size: 1.2 * $base-font-size;
  }
}

@media (min-width: 37.5em) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

@media (min-width: 64em) and (max-width: 80em) {
  .sidenote {
    margin-right: -23%;
    width: 20%;
  }
}

@media (max-width: 37.5em) {
  * {
    line-height: 1.45em;
  }

  html {
    font-size: 1.1 * $base-font-size;
  }

  blockquote {
    margin: 0 0 0 2em;
  }

  table {
    display: block;
    overflow-x: auto;
  }

  .post-title {
    font-size: 2.0em;
  }

  .post .drop-cap {
    font-size: $drop-cap-size-small;
  }

  .nav {
    &-title {
      font-size: 1em;
      margin-top: 1em;
    }

    &-container {
      ul {
        font-size: 1.0em;

        a {
          @include theme('color',$grey-1);
        }
      }
    }
  }

  .share-bar {
    .share-buttons {
      font-size: 1.1em;

      a {
        margin: 0 0.25em;
      }
    }
  }
}

@media (max-width:64em) {
  .sidenote {
    display: none;
  }

  .margin-toggle:checked + .sidenote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }
}

// Hacks
::selection, strong {
  background-color: $accent-color;
  color: $base-color;
  background: linear-gradient(104deg, rgba(130, 255, 173,0) 0.9%, rgba(130, 255, 173,1.25) 2.4%, rgba(130, 255, 173,0.5) 5.8%, rgba(130, 255, 173,0.1) 93%, rgba(130, 255, 173,0.7) 96%, rgba(130, 255, 1732,0) 98%), linear-gradient(183deg, rgba(130, 255, 173,0) 0%, rgba(130, 255, 173,0.3) 7.9%, rgba(130, 255, 173,0) 15%);
  padding: 0.15em 0.2em;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(130, 255, 173,0.7), 21px -18.1px 7.3px rgba(255, 255, 255,1), -18.1px -27.3px 30px rgba(255, 255, 255,1);
}
